.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    margin-bottom: 40px;
}

.slider {
    width: 94%;
    display: inline-block;
}

.input {
    display: inline-block;
}